<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user-o"></i>
            </span>
         </div>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [placeholder]="userNamePlaceholderText"
        />
      </div>
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope-o"></i>
          </span>
       </div>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [placeholder]="emailPlaceholderText"
        />
      </div>
        
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      
      <div class="phone-wrapper">
        <!-- <ngx-intl-tel-input
        [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.India"
        maxLength="15"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        [numberFormat]="PhoneNumberFormat.National"
        name="phone"
        formControlName="phone"
      >
      </ngx-intl-tel-input> -->
      <!-- <select class="form-control country-code" name="country" id="country">
        
        <option value="" disabled selected>Country</option>
        <option *ngFor="let country of countries" [value]="country.code">{{country.code}}</option>
      </select> -->

        <select class="form-control country-code" name="country" id="country">
          <option disabled selected>Select</option>
          <option *ngFor="let country of countries" [value]="country.code">{{country.code}}</option>
        </select>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-phone"></i>
            </span>
          </div>
          <input 
            type="text" 
            placeholder="000-000-000" 
            class="form-control" 
            id="phone" 
            name="phone" 
            maxlength="12"
           [(ngModel)]="form.phone" 
           mask="000-000-000"
           [ngClass]="{ 'is-invalid': phone.touched || form.submitted && phone.invalid }"
           #phone="ngModel" 
           phoneMask 
           (input)="numbersOnlyValidator($event)" />
  
            <div *ngIf="(phone.touched || form.submitted) &&
               phone.invalid" class="invalid-feedback">
                 <div *ngIf="phone.errors">
                   Please enter valid phone number.
                 </div>
            </div>
        </div>
      </div>
     
      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-unlock-alt"></i>
            </span>
         </div>
        <input
        [type]="fieldTextType ? 'text' : 'password'"
          placeholder="********" 
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="8"
          #password="ngModel"
        />
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }" (click)="toggleFieldTextType()"></i>
          </span>
       </div>
      </div>
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 8 characters
          </div>
        </div>
      

      <div class="form-group" (ngSubmit)="onSubmit()">
          <input type="checkbox" id="acceptTerms" class="form-check-input"  />
          <label  class="form-check-label">I have read and agree to the <span class="toc-text">privacy policy</span> and <span class="toc-text">terms of conditions</span></label>        
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-block">Create An Account</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
      <div>Click here to Login</div>
    </div>
  </div>
</div>
